* {
  margin: 0;
}

#home {
  position: sticky;
  top: 0;
  background-color: lightgreen;
  width: 80%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 0 0 10px 10px;
  box-shadow: 2px 5px;
  padding: 5px 0;
  z-index: 100;
}
#home ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  gap: 0;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, green, rgb(122, 105, 227)); /* Top to bottom fade */
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: white;
  border: 5px solid red;
  border-radius: 30px;
  padding: 40px 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto 150px;
  width: 50%;
}

header > h1 {
  text-align: center;
  text-shadow: 2px 2px rgb(144, 143, 143);
  font-size: 5em;
}

section {
  padding: 20px;
  line-height: 1.6; 
  margin-bottom: 20px;
}

section h2 {
  width: 100vw;
  padding: 5px 20px;
  margin-left: calc(50% - 50vw);
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 20px;
  background-color: #ddc50b82;
  text-align: left;
  border: 2px solid black;
  box-shadow: 0 2px 5px;
}

button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: darkred;
}

