* {
  margin: 0;
}

#home {
  position: sticky;
  top: 0;
  background-color: lightgreen;
  width: 80%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 0 0 10px 10px;
  box-shadow: 2px 5px;
  padding: 5px 0;
  z-index: 100;
}
#home ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  gap: 0;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, green, rgb(122, 105, 227)); /* Top to bottom fade */
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #ffffff3d;
  border: 3px solid red;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto 150px;
  width: 50%;
  min-height: 300px;
}

.sticker {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid black;
  max-width: 500px;
  min-height: 200px;
}

.sticker-top {
  background-color: #a8d5ff;
  color: black;
  padding: 10px;
  text-align: center;
  fond-weight: bold;
  fond-size: 1.2em;
  text-transform: uppercase;
  border-bottom: 2px solid black;
}

.sticker-name {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  background-color: white;
  padding: 20px;
}

.sticker-bottom {
  background-color: #a8d5ff;
  height: 20px;
  border-top: 2px solid black;
}

section {
  padding: 20px;
  line-height: 1.6; 
  margin-bottom: 20px;
  background-color: #ddc50b42;
}

section h2 {
  width: 100vw;
  padding: 5px 20px;
  margin-left: calc(50% - 50vw);
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 20px;
  background-color: #ddc50b82;
  text-align: left;
  border: 2px solid black;
  box-shadow: 0 2px 5px;
}

button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: darkred;
}
