body {
  background-color: green;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: white;
  width: 50%;
  top: 10px;
  left: 50%;
  border: 5px solid red;
  border-radius: 10px;
  padding: 10px 10px;
}

header, h1 {
  text-align: center;
}
