body {
  background-color: green;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: white;
  text-align: center;
  top: 10px;
  border: 5px solid red;
  padding: 10px 10px;
}

